/*font-family: 'Courgette', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Shizuru', cursive;
font-family: 'Spartan', sans-serif;*/

* {
    margin: 0px;
    padding: 0px;
}

#body-header {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('first.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#education-section {
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('forth\ \(1\).jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.skills-h4 {
    color: black;
    margin: 30px;
    list-style: none;
    width: 75%;
    padding-bottom: 15px;
}

.divider-grey {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 100px;
    border-top: 2px solid #DC3545;
    padding-bottom: 40px;
}

.navbar-ul,
.icon-ul {
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin: 5px 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 5px;
    transition: color 0.5s, border-bottom 10s;
}

.nav-link:hover {
    color: rgb(204, 195, 195);
    border-bottom: 1px solid rgb(204, 195, 195);
}

.container1 {
    height: auto;
}

.heading1 {
    margin: 120px 0px 20px 0px;
    text-align: center;
}

.h1-first {
    font-size: 6vw;
    color: rgb(185, 179, 179);
    padding: 10px;
    font-family: 'Krona One', sans-serif;
}

.image-mine {
    height: 35vh;
    width: 35vh;
    background-image: url('second.jpg');
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    margin-top: -145px;
    position: relative;
    border: 5px solid white;
}

.about-us {
    width: 80%;
    text-align: justify;
    font-size: 25px;
    font-family: 'Josefin Slab', serif;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.6;
}

.nav-link1 {
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 15px;
    border-radius: 50%;
    transition: color 0.5s, box-shadow 0.5s;
}

.nav-link1:hover {
    color: rgb(204, 195, 195);
    box-shadow: 0px 0px 14px rgb(204, 195, 195);
}

.div-transition:hover {
    transform: scale(1.1);
}

.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: white;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: rgb(84, 137, 197);
}

.timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
}

.timeline-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: rgb(148, 109, 109);
}

.timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.timeline-body {
    background: rgb(84, 137, 197);
    border-radius: 2px;
    padding: 20px 20px 15px;
    box-shadow: 2px;
}

.timeline-body:before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}

.timeline-title {
    margin-bottom: 1.4rem;
}

.timeline-title .badge {
    background: yellow;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: .4;
    margin-top: 16px;
    font-size: 11px;
}

.primary .badge,
.timeline-icon {
    background: #DC3545;
}

.info .badge,
.timeline-icon {
    background: #DC3545;
}

.success .badge,
.timeline-icon {
    background: #DC3545;
}
